<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>Test</title>

    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet"> 
            <!-- <link href="css/bootstrap-table.css" rel="stylesheet">  -->

  <link href="/static/css/bootstrap-table.min.css" rel="stylesheet"> 

    <!-- <link href="css/bootstrap_table.css" rel="stylesheet"> -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<!-- <script src="js/bootstrap-table.min.js"></script> -->
<script src="/static/js/bootstrap-table.js"></script>

<!-- Latest compiled and minified CSS -->

<!-- Latest compiled and minified JavaScript -->

<!-- Latest compiled and minified Locales -->
<!-- Documentation extras -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

    <!-- Include all compiled plugins (below), or include individual files as needed -->
  </head>
  <body>

       <div class="container">
		  <div class="row">
                      <form method="get"  action="/search">

	                <button class="btn btn-default btn-lg" type="submit"  formaction="/">Home</button>
			</form>
		</div>
                <h3>ID Page</h3>
		<br/>
                <p><hr></p>
                 <p></p>
                <p><b>{{experiment_id}}</b>    <b>{{title}}</b></p>
                <p><b>Accession</b>:{{experiment_id}}</p>
                <p><b>Experiment design</b>:{{design_description}}</p>
                <p><b>Submitted by</b>:{{submitter_id}}</p>
                <p><b>Study summary</b>:{{study_ref}} </p>
                          <p> <b>study bioProject</b>:{{study_bioproject_id}}  </p>
                <p><b>Sample</b>:{{sample_id}}</p>          
                <div class="bs-example" data-example-id="simple-ul">    
                <p><b>Library:</b></p>
                <ul>
                             <li>Library name: {{library_name}}</li>
                             <li>Library source: {{library_source}}</li>
                             <li>Library strategy: {{library_strategy}}</li>
                             <li>library selection: {{library_selection}}</li>
                 </ul>
                </div>
                <p><b>Platform</b>: {{instrument_model}}</p>
                <p><b>Run_Id</b>:
			<a href="/run/{{run_id}}">		
			{{run_id}}</a></p>
       </div>
</body>
</html>
