</div><div id="header-local">
<div id="prj-logo" class="branding"><strong id="sra-logo" class="logo"><a title="to Sequence Read Archive Main Page" href="../sra"><span> </span><img src="i/sra_logo_eee.gif" alt="Sequence Read Archives logo"></a></strong></div>
<div id="toolbox"></div>
<div id="local-nav"><ul class="tabmenu" id="tabmenu">
<li id="tabmenu_current" class="selected">
<a title="Sequence Read Archive Main Page" href="../sra/sra.cgi?view=announcement"><span>Main</span></a><ul>
<li class="subcurrent"><a title="Announcements, Notifications and News" href="../sra/sra.cgi?view=announcement"><span>Overview</span></a></li>
<li><a title="List of all Events (Meetings, Releases, Changes notes etc)" href="../sra/sra.cgi?view=history"><span>History</span></a></li>
<li><a title="About Sequence Read Archive" href="../sra/sra.cgi?view=about"><span>About</span></a></li>
<!--[if gte IE 5]><iframe></iframe><![endif]-->
</ul>
</li>
<li>
<a title="Get SRA Data" href="../sra/sra.cgi?view=studies"><span>Browse</span></a><ul>
<li><a title="List of Sequence Read Archive Studies" href="../sra/sra.cgi?view=studies"><span>Studies</span></a></li>
<li><a title="List of Sequence Read Archive Samples" href="../sra/sra.cgi?view=samples"><span>Samples</span></a></li>
<li><a title="List of Sequence Read Archive Analyses" href="../sra/sra.cgi?view=analysis"><span>Analyses</span></a></li>
<li><a title="Sequence Read Archive Run Browser" href="../sra/sra.cgi?view=run_browser"><span>Run Browser</span></a></li>
<li><a title="Select Runs using Run Selector Tool" href="/Traces/study/?go=home"><span>Run Selector</span></a></li>
<li><a title="Submissions to the Provisional Sequence Read Archive" href="../sra/sra.cgi?view=provisional"><span>Provisional SRA</span></a></li>
<!--[if gte IE 5]><iframe></iframe><![endif]-->
</ul>
</li>
<li>
<a title="Search and Filter individual reads" href="../sra/sra.cgi?view=search_obj"><span>Search</span></a><ul>
<li><a title="Search for Short Read Objects" href="../sra/sra.cgi?view=search_obj"><span>SRA Objects</span></a></li>
<li><a title="Search SRA sequences using BLAST" href="http://blast.ncbi.nlm.nih.gov/Blast.cgi?PROGRAM=blastn&amp;BLAST_PROGRAMS=megaBlast&amp;PAGE_TYPE=BlastSearch&amp;BLAST_SPEC=SRA&amp;SHOW_DEFAULTS=on&amp;DB_GROUP=Exp&amp;view=search_blast"><span>BLAST</span></a></li>
<li><a title="Search NCBI's Entrez system of interlinked databases in various ways" href="../sra/sra.cgi?view=search_entrez"><span>Entrez</span></a></li>
<!--[if gte IE 5]><iframe></iframe><![endif]-->
</ul>
</li>
<li>
<a title="Download Data" href="../sra/sra.cgi?view=download_reads"><span>Download</span></a><ul>
<li><a title="Downloading SRA data in either fasta or fastq format" href="../sra/sra.cgi?view=search_seq_name"><span>FASTA/FASTQ</span></a></li>
<li><a title="Download Reads in Full or Light SRA Formats" href="../sra/sra.cgi?view=download_reads"><span>Reads</span></a></li>
<li><a title="Download data by Analysis" href="../sra/sra.cgi?view=download_analyses"><span>Analyses </span></a></li>
<li><a title="Download Reports Data" href="../sra/sra.cgi?view=download_reports"><span>Reports</span></a></li>
<li><a title="References Collection" href="../sra/sra.cgi?view=references"><span>References</span></a></li>
<!--[if gte IE 5]><iframe></iframe><![endif]-->
</ul>
</li>
<li>
<a title="" href="../sra_sub/sub.cgi?view=submissions"><span>Submit</span></a><ul>
<li><a title="Tracking statuses and editing/creating sra submissions." href="../sra_sub/sub.cgi?view=submissions"><span>Submissions</span></a></li>
<li><a title="Tracking submitted files, their statuses and produced SRA objects." href="../sra_sub/sub.cgi?page=tracking&amp;view=submissions_tracking"><span>Tracking</span></a></li>
<li><a title="Editing preferred name, email, affiliated organizaiton etc." href="../sra_sub/sub.cgi?page=preferences&amp;view=submissions_preferences"><span>Preferences</span></a></li>
<li><a title="Data submission to NCBI (SRA)." href="/Traces/sra/?cmd=show&amp;f=sra_sub_expl&amp;view=get_started" target="_blank"><span>Getting started</span></a></li>
<li><a title="Quick Start Guide for SRA submissions." href="http://www.ncbi.nlm.nih.gov/books/NBK47529/" target="_blank"><span class="help-item">Help!</span></a></li>
<li><a title="Frequently Asked Questions" href="../sra/sra.cgi?view=faq"><span>FAQ</span></a></li>
<!--[if gte IE 5]><iframe></iframe><![endif]-->
</ul>
</li>
<li>
<a title="Documentation" href="../sra/sra.cgi?view=doc"><span>Documentation</span></a><ul>
<li><a title="SRA Documentation" href="../sra/sra.cgi?view=doc"><span>SRA Documentation</span></a></li>
<!--[if gte IE 5]><iframe></iframe><![endif]-->
</ul>
</li>
<li>
<a title="Software for using and preparing SRA data sets" href="../sra/sra.cgi?view=software"><span>Software</span></a><ul>
<li><a title="Software for using and preparing SRA data sets" href="../sra/sra.cgi?view=software"><span>Download</span></a></li>
<li><a title="SRA Toolkit Documentation" href="../sra/sra.cgi?view=toolkit_doc"><span>Toolkit Documentation</span></a></li>
<li><a title="Sequence SRA XML Schemas" href="../sra/sra.cgi?view=xml_schemas"><span>XML Schema</span></a></li>
<!--[if gte IE 5]><iframe></iframe><![endif]-->
</ul>
</li>
<li class="related first">
<a title="Trace Archive" href="../?view=list_arrivals"><span>Trace Archive
    </span></a><ul>
<li><a title="Trace Archive Main Page" href="../?view=list_arrivals"><span>Main</span></a></li>
<li><a title="How to obtain data" href="../?view=search"><span>Obtaining Data</span></a></li>
<li><a title="Display Archive Statistics" href="../?view=statistics"><span>Statistics</span></a></li>
<li><a title="Tracking submissions" href="../?view=tracking"><span>Tracking</span></a></li>
<li><a title="Trace Archive Documentation" href="../?view=doc_goals"><span>Documentation</span></a></li>
<!--[if gte IE 5]><iframe></iframe><![endif]-->
</ul>
</li>
<li class="related">
<a title="Trace Assembly" href="../assembly?view=taxonomy_tree"><span>Trace Assembly
    </span></a><ul>
<li><a title="Trace Assembly Archive Browser" href="../assembly/?view=taxonomy_tree"><span>Main</span></a></li>
<li><a title="Show Submissions" href="../assembly/?view=list_of_submission"><span>Tracking</span></a></li>
<li><a title="Trace Assembly Archive Documentation" href="../assembly/?view=rfc"><span>Documentation</span></a></li>
<!--[if gte IE 5]><iframe></iframe><![endif]-->
</ul>
</li>
<li class="related"><a title="Trace Archive Home Page" href="../home?view=overview"><span>Trace Home
    </span></a></li>
<li class="related"><a href="http://blast.ncbi.nlm.nih.gov/Blast.cgi?PAGE=Nucleotides&amp;PROGRAM=blastn&amp;BLAST_SPEC=TraceArchive&amp;BLAST_PROGRAMS=megaBlast&amp;PAGE_TYPE=BlastSearch" title="Trace Basic Local Alignment Search Tool"><span>Trace BLAST</span></a></li>
</ul></div>
</div>