<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>Test</title>

    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet"> 
            <!-- <link href="css/bootstrap-table.css" rel="stylesheet">  -->

  <link href="/static/css/bootstrap-table.min.css" rel="stylesheet"> 

    <!-- <link href="css/bootstrap_table.css" rel="stylesheet"> -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<!-- <script src="js/bootstrap-table.min.js"></script> -->
<script src="/static/js/bootstrap-table.js"></script>


<link rel="stylesheet" type="text/css" href="/static/css/jquery.bs_pagination.min.css">
<script type="text/javascript" src="/static/js/jquery.bs_pagination.min.js"></script>
<script type="text/javascript" src="/static/js/en.min.js"></script>
<!-- Latest compiled and minified CSS -->

<!-- Latest compiled and minified JavaScript -->

<!-- Latest compiled and minified Locales -->
<!-- Documentation extras -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

    <!-- Include all compiled plugins (below), or include individual files as needed -->
  </head>
  <body>
    <h2>SRR Read Page</h2>
    <div class="row">
              <div class="col-md-4">
              <div id="page_slider"></div>
             <!-- //http://www.dotnetlearners.com/javascript/find%20table%20cell%20value%20on%20cell%20(table)%20click%20using%20javascript.aspx -->
                        <table id="tableID" class="table" border="1">
                        </table>​
             
                   

              </div>
              <div class="col-md-4">
                        <div id="result"></div>
              </div>
                   <script language="javascript">
                $(document).ready(
                               function tableCreate(){
                                        // var body = document.body,
                                        tbl  =  document.getElementById('tableID');
                                        // tbl.style.width  = '50px';

                                        for(var i = 0; i < 10; i++){
                                            var tr = tbl.insertRow();
                                            for(var j = 0; j < 1; j++){
                                                      if(i == 10){
                                                          break;
                                                      } else {
                                                          var td = tr.insertCell();
                                                    
                                                          td.appendChild(document.createTextNode(i));
                                                          td.style.border = "1px solid black";
                                                          // if(i == 1 && j == 1){
                                                          //     td.setAttribute('rowSpan', '2');
                                                          // }
                                                      }
                                              }
                                        }
                                        // body.appendChild(tbl);
                                }
                );
                   $(function() {
 
                      $("#page_slider").bs_pagination({
                          totalPages: 10
                        });
                       
                      });

                   $("#page_slider").bs_pagination({
                        onChangePage: function(event, data) {
                          // your code here e.g.
                          console.log('Current page is: ' + currentPage.col + '. ' + rowsPerPage + ' are displayed per page.');
                        }
                      });

                   // get read info 

                        $('#tableID').click(function(e){
                              alert($(e.target).text());   
                              click_var = $(e.target).text();
                             //http://api.jquery.com/jquery.post/
                                // $.post( "/srun", click_var,function( data ) {
                                // }); 
				console.log(click_var)
                                var posting = $.post( "/srun",click_var); 
                                posting.done(function( data ) {

				console.log("data")	;
				console.log(data['read_info']);
                                  // var content = $( data ).find( "#content" );
                                      $( "#result" ).empty().append( data['read_info'] );
                                }); 




                          })
 //                            function myFun(e){ 
 //                                alert(e.target.innerText); //current cell
 //                                click_var = e.target.innerText;
 // //http://api.jquery.com/jquery.post/
 //                                alert(e.target.parentNode.innerText); //Current row.
 //                                $.post( "/srun", click_var,function( data ) {
 //                                      $( "#p" ).html( data );
 //                                });
                                  // <!-- var posting = $.post( url, { s: term } ); -->
                 
                              // <!--   // Put the results in a div
                              //   posting.done(function( data ) {
                              //     var content = $( data ).find( "#content" );
                              //     $( "#result" ).empty().append( content );
                              //   }); -->
                            // }​
                        </script>
</div>
   

</body>
</html>
